body {
    margin : 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1500px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1450px !important;
    }
}

.app-container {
    .header-container {
        .btn-login {
            padding      : 0 10px;
            border-radius: 5px;
            margin-right : 15px;
            border       : 1px solid #e1dede;
            height       : 40px;
        }

        .btn-signup {
            padding         : 0 10px;
            border-radius   : 5px;
            background-color: #303030;
            color           : white;
            height          : 40px;

            &:hover {
                background: black;
            }
        }

        .navbar {
            padding-top     : 20px;
            z-index         : 10;
            background-color: rgba(0, 0, 0, 0) !important;

            .nav-link {
                &.active {
                    color                  : transparent;
                    background-image       : linear-gradient(to right, rgb(215, 18, 18), rgb(164, 255, 6));
                    -webkit-background-clip: text;
                    background-clip        : text;
                }
            }
        }
    }

    .homepage-container {

        .homepage-content {
            padding       : 100px;
            width         : 50%;
            position      : relative;
            display       : flex;
            flex-direction: column;
            gap           : 30px;

            .title-1 {
                font-size  : 35px;
                font-weight: 600;
            }

            .title-2 {
                font-size: 25px;
            }

            .title-3 {
                button {
                    border-radius   : 5px;
                    height          : 40px;
                    padding         : 0 10px;
                    border-radius   : 5px;
                    background-color: #303030;
                    color           : white;
                    height          : 40px;
                    border          : none;

                    &:hover {
                        background: black;
                    }
                }
            }
        }
    }
}

video {
    position: fixed;
    bottom  : -30px;
    width   : 100vw;
}